* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: 50%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    flex-basis: 20%;
    background-color: #dddddd;
    border: 2px solid black;
}

.panel {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.panel div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    flex-grow: 1;
    font-size: 2.5rem;
    border: 2px solid black;
}