    .picture {
            position: relative;
            width: 160vh;
            height: 90vh;
            background-color:lightskyblue;
            overflow: hidden;
            /* margin: 50px auto; */
            top: calc(50% - 45vh);
            left: calc(50% - 80vh);
            z-index: -2;
        }

        img {
            position: absolute; /*display block*/
        }

        img:nth-child(n+1) {
            width: 100%;
        }

        img:nth-child(1){
            left: 0;
            top: 10%;
        }

        img:nth-child(2) {
            left: 0;
            top: 25%;
        }

        img:nth-child(3) {
            left: 0;
            top: 37%;
        }

        img:nth-child(4) {
            left: 0;
            top: 35%;
        }

        img:nth-child(5) {
            left: 0;
            top: 45%;
        }

        img:nth-child(6) {
            left: 0;
            top: 72%;
        }

        img:nth-child(7) {
            width: 10%;
            left: 5%;
            top: 5%;
            z-index: -1;
        }

        img:nth-child(8) {
            width: 30%;
            left: -5%;
            top: 10%;
        }

        img:nth-child(9) {
            width: 40%;
            right: 2%;
            top: 8%;
        }

        img:nth-child(10) {
            width: 35%;
            right: 0%;
            top: 18%;
        }

        img:nth-child(11) {
            width: 5%;
            left: 3%;
            bottom: 10%;
        }
